.header {
  padding: 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  @include tablet-down {
    padding-right: 45px;
  }
  .links {
    display: flex;
    gap: 12px;
    a {
      color: inherit;
    }
  }
  &--print {
    .menu__groups {
      display: none;
    }
    &:hover {
      .menu__groups {
        display: inline;
      }
    }
  }
}
