$body-font-family: 'Montserrat', 'Noto Sans KR', sans-serif !important !default;

$dark-text-color: #ffffff;
$light-text-color: #181717;
$dark-background-color: #181717;
$dark-background-sub-color: #343435;
$light-background-color: whitesmoke;
$light-background-sub-color: ghostwhite;
$white-color: white;
$black-color: black;
$point-color: #00b8ff;