$body-font-family: 'Montserrat', 'Noto Sans KR', sans-serif !important !default;

$dark-text-color: #ffffff;
$light-text-color: #181717;
$dark-background-color: #181717;
$dark-background-sub-color: #1d1b1b;
$dark-root-background-color: #242424;
$light-background-color: whitesmoke;
$light-background-sub-color: ghostwhite;
$light-root-background-color: #fefefe;
$white-color: white;
$black-color: black;
$point-color: #5467f5;
$grey-color: #ccc;

$border-color: #676767;
$font-size: 1em;
$font-weight-bold: 600;
$padding: 0.25em;
$margin-small: 0.5rem;
$margin-medium: 0.75rem;
