.card {
    &__container {
        padding: 0 12px;
    }
    &__title {
        font-size: 14px;
        margin: 0;
    }

    &__content {
        padding: 4px;
        .content__li {
            font-size: 13px;
            padding: 4px;
            b {
                font-weight: 800;
            }
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}