.nav__container {
    background-color: $black-color;
    &--light {
        background-color: $light-background-color;
        color: $light-text-color;
    }
    &--dark {
        background-color: $dark-background-color;
        color: $dark-text-color;
    }
    &--print {
        display: flex;
        padding: 16px;
        margin: auto;
        background-color: white;
    }
    @include tablet-down {
        display: flex;
        padding: 16px;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 12px 18px 10px;
    // color: $dark-text-color;
    &__picture-img {
        vertical-align: middle;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: $white-color;
    }
    &__info {
        text-align: center;
        margin-top: 11px;
        &--light {
            color: $light-text-color;
        }
        &--dark {
            color: $dark-text-color;
        }
        h2 {
            margin: 16px 0 0 0;
            font-size: 30px;
        }
        &-first-name {
            color: $point-color;
        }
        &-role {
            margin: 8px;
        }
    }
}
.infos {
    display: flex;
    flex-wrap: wrap;
    &--print {
        display: grid;
        flex-wrap: nowrap;
        column-gap: 10px;
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: repeat(2, 240px);
        grid-template-areas:
            "contact hobby"
            "contact education"
            "contact certification";
    }
    @include tablet-down {
        display: grid;
        flex-wrap: nowrap;
        column-gap: 10px;
        grid-template-rows: repeat(3, 100px);
        grid-template-columns: repeat(2, 280px);
        grid-template-areas:
            "contact hobby"
            "contact education"
            "contact certification";
    }
    .profile__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        align-items: flex-start;
        margin: 8px auto;
        &--print {
            width: 100%;
            justify-content: flex-start;
        }

        @include tablet-down {
            width: 100%;
            justify-content: flex-start;
        }
        @include mobile {
            width: 100%;
            flex-wrap: wrap;
        }

        &__header {
            display: flex;
            align-items: center;
            h3 {
                margin: 0;
                padding: 0 4px;
                line-height: 28px;
                color: $point-color;
            }
            .box-icon {
                padding: 0 4px ;
            }
        }
        hr {
            width: 100%;
            margin: 2px;
        }
        &__content {
            display: flex;
            width: 100%;
            .list {
                width: 100%;
                margin: 4px;
                list-style-type: none;
                padding: 0;
                &-subtitle {
                    .list-item {
                        display: flex;
                        flex-direction: column;
                        line-height: 24px;
                        margin-bottom: 8px;
                    }
                }
                &-row {
                    display: flex;
                    .list-item {
                        line-height: normal;
                        padding-right: 12px;
                    }
                }

                &-date {
                    .list-item {
                        line-height: normal;
                        &__between {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }


                // 공통 font
                .subtitle {
                    font-weight: 600;
                    font-size: 15px;
                }
                .text {
                    font-weight: 400;
                    font-size: 13px;
                }
                .date {
                    font-size: 13px;
                }
                .text--light {
                    font-size: 13px;
                }
            }
        }
    }

    .contact { grid-area: contact; }
    .hobby   { grid-area: hobby;   }
    .education  { grid-area: education;  }
    .certification { grid-area: certification; }
}