.list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  &-subtitle,
  &-row,
  &-date {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    line-height: 24px;

    .subtitle {
      font-weight: 600;
      font-size: 15px;
      margin: 0;
    }

    .text {
      font-weight: 400;
      font-size: 13px;
      margin: 0;
      word-break: break-word;
    }

    .date {
      font-size: 13px;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }

    &__between {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-row {
    flex-direction: row;
    flex-wrap: wrap;

    .list-item {
      padding-right: 12px;
    }
  }
}
