.fixButton {
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  border: none;
  text-transform: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: $point-color;
  color: $white-color;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  }
  &:focus {
    outline: 0;
  }
  &--print {
    display: none;
  }
}

.half-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ripple {
  position: relative;
  overflow: hidden;
  &:before {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  &:focus {
    &:before {
      transition: all 0.5s ease-out;
      opacity: 0;
      width: 160px;
      height: 160px;
      margin-top: -80px;
      margin-left: -80px;
    }
  }
}

.fixButton {
  position: absolute;
}

.toggler {
  position: fixed !important;
  inset-block-start: 10%;
  inset-inline-end: 0;
  transform: translateY(-50%);
  @include tablet-down {
    inset-block-start: 2%;
  }
}
