.list__item {
  @include flex-center;
  margin: $margin-small;

  // @include tablet-down {
  //   flex-direction: column;
  // }

  .filter {
    &__left {
      margin-right: $margin-medium;
      width: 15%;
      border-right: solid 2px $border-color;
      padding: $padding;
      @include flex-center;

      @include tablet-down {
        align-self: flex-start;
        border-right: none;
      }

      .text {
        font-size: $font-size;
        font-weight: $font-weight-bold;
      }
    }

    &__chips {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      width: 75%;
      padding: $padding;

      .chip {
        &__toggle {
          &--light {
            background-color: $white-color;
          }
          &--dark {
            background-color: inherit;
          }
        }
      }
    }
  }
}
